{% extends 'staff/staff_message.html' %}
{% block title %}添加职员{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
        <div class="ss-form-header">
            <label id="ss-form-label">添加新职员</label>
            <div id="ss-form-line"></div>
        </div>
            <form method="POST" action="/staff_message/add/post">
        <div class="ss-form-body">
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">员工编号:</div>
                  <input class="ss-form-control"id="addstaffid"name="add-staffid">
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">员工姓名:</div>
                  <input class="ss-form-control"id="addstaffname"name="add-staffname">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">手机号:</div>
                  <input class="ss-form-control"id="addphone"name="add-phone">
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">身份证号:</div>
                  <input class="ss-form-control"id="addidcard"name="add-idcard">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">银行卡号:</div>
                  <input class="ss-form-control"id="aa"name="aa">
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">薪资:</div>
                  <input class="ss-form-control"id="addsalary"name="add-salary">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">工种:</div>
                  <input class="ss-form-control"id="addjob"name="add-job">
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">年龄:</div>
                  <input class="ss-form-control"id="addage"name="add-age">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">密码（默认）:</div>
                  <input class="ss-form-control"id="addpassword"name="add-password"value="11111">

            </div>

            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">性别:</div>
                  <input class="ss-form-control"id="addgender"name="add-gender"value='男'type="radio"checked>男
                  <input class="ss-form-control"id="addgender"name="add-gender"value='女'type="radio">女

            </div>

            </div>
            <div class="ss-form-body-row ss-form-body-row-btn">
            <div class="ss-form-group ss-form-gruop-btn">

                  <input class="ss-form-control"id="reset"name="重置"type="reset">
                  <input class="ss-form-control"id="staffname"name="提交"type="submit">

            </div>

            </div>
        </div>
                </form>
        </div>
        {% endblock %}
    </div>
{% endblock %}