{% extends 'staff/personnel_management.html' %}
{% block title %}添加职员{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
        <div class="ss-form-header">
            <label id="ss-form-label">员工福利</label>
            <div id="ss-form-line"></div>
        </div>
        <div class="ss-detail-div">
            <label class="ss-detail-title">一、薪资</label>
            <ol class="ss-detail-ol">
                <li>基本工资:一旦被录用，就将获得优厚的待遇</li>
                <li>奖金:员工工作期间表现良好，所在单位受到上级领导或媒体表扬，员工每人将获得200-1000的奖金，主要贡献者奖金翻倍。</li>
                <li>绩效加薪:根据员工的年度绩效评价结果决定其是否得到加薪。将根据业绩和日常表现领取年终奖。</li>
            </ol>
        </div>
        <div class="ss-detail-div">
            <label class="ss-detail-title">二、薪资</label>
            <ol class="ss-detail-ol">
                <li>基本工资:一旦被录用，就将获得优厚的待遇</li>
                <li>奖金:员工工作期间表现良好，所在单位受到上级领导或媒体表扬，员工每人将获得200-1000的奖金，主要贡献者奖金翻倍。</li>
                <li>绩效加薪:根据员工的年度绩效评价结果决定其是否得到加薪。将根据业绩和日常表现领取年终奖。</li>
            </ol>
        </div>
        <div class="ss-detail-div">
            <label class="ss-detail-title">三、薪资</label>
            <ol class="ss-detail-ol">
                <li>基本工资:一旦被录用，就将获得优厚的待遇</li>
                <li>奖金:员工工作期间表现良好，所在单位受到上级领导或媒体表扬，员工每人将获得200-1000的奖金，主要贡献者奖金翻倍。</li>
                <li>绩效加薪:根据员工的年度绩效评价结果决定其是否得到加薪。将根据业绩和日常表现领取年终奖。</li>
            </ol>
        </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}