{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}电费{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}

{% block page_content %}

<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class=""><a href="{{ url_for('finance.waterfee') }}">水费</a></li>
       <li class="menu-active"><a href="{{ url_for('finance.electricfee') }}"class="menu-font-active">电费</a></li>
       <li class=""><a href="{{ url_for('finance.gasfee') }}">天然气费</a></li>
       <li class=""><a href="{{ url_for('finance.cleaningfee') }}">卫生费</a></li>

   </ul>
  </div>
  <div id="border">
  </div>
{% endblock %}
{% block page_content_right %}
    <div id="right-side">
<div id="right-side-tabs">
    <ul class="nav nav-tabs">

        <br>
      <li{% if  charge %} class="active"{% endif %}><a href="{{ url_for('finance.electriccharge') }}">生成明细</a></li>
      <li{% if not charge %} class="active"{% endif %}><a href="{{ url_for('finance.electricnotcharge') }}">查看历史</a></li>
    </ul>
    </div>
    <br>
    {% if charge %}
    <div class="row">
                <div class="form-group col-md-2">
                    <a href="{{ url_for("finance.electricfee_create") }}"><input class="btn btn-info form-control " size="12"  type="submit" id="electric_create" value="生成本月明细账单" ></a>
                </div>
    </div>
    {% endif %}
    {% if not charge %}
        <div class="row">
        <div class="form-group col-md-2">
            <a href="{{ url_for("finance.orderdesc") }}"><input class="btn btn-info form-control " size="12"  type="submit" id="waterfee_orderdesc" value="按时间倒序" ></a>
        </div>
        <div class="form-group col-md-2">
            <a href="{{ url_for("finance.orderasc") }}"><input class="btn btn-info form-control " size="12"  type="submit" id="waterfee_orderasc" value="按时间顺序" ></a>
        </div>
        </div>
    {% endif %}

 <div class="table-responsive ss-scrolltbody">
                  <table class="table table-hover table-condensed table-bordered ">
                <thead class="info">
                <th class="td-center">{% if not charge %}<i class="icon-plus i-color" onclick="finance_add({{query_house}})" > 添加</i>{% else %}<span>操作</span>{% endif %}</th>

                    <th >编号</th>
                    <th >门牌编号</th>
                    <th >物业项目</th>
                    <th >上月度数</th>
                    <th >本月度数</th>
                    <th >上月抄表时间</th>
                    <th >本月抄表时间</th>
                    <th >每单位价格</th>
                    <th >总共费用</th>
                    <th >是否缴纳</th>
                </thead>
                <tbody >
                {% for query in querys %}
                    <tr >
                        <td class="td-center">
                        <a href="#"class="ss-table-detail"id="{{ query.house_houseid }}"><i class="icon-edit"></i> 编辑</a><br>
                        <a href="{{ url_for("finance.electricfee_delete",houseid=query.house_houseid) }}"class="ss-table-delete-electricfee"id="{{ query.house_houseid }}"><i class="icon-minus"></i> 删除</a>
                        </td>
                        <td >{{ query.electricfeeid}}</td>
                        <td >{{ query.house_houseid}}</td>
                        <td >{{ query.item }}</td>
                        <td >{{ query.startdegree }}</td>
                        <td >{{ query.enddegree }}</td>
                        <td >{{ query.startdate }}</td>
                        <td >{{ query.enddate }}</td>
                        <td >{{ query.priceperdegree }}</td>
                        <td >{{ query.totalprice }}</td>
                        <td >{{ query.pay }}<td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
  </div>

  </div>
{% endblock %}
</div>

{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}