{% extends 'finance/electricfee.html' %}
{% block title %}天然气费{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
    {% endblock %}

{% block page_content_right %}
    <div id="right-side">
        <div id="right-side">
            <div class="row">
                <div class="col-md-10">
                    <div class="page-header">
                        <h4>编辑</h4>
                    </div>
                </div>
            </div>
        <form id="waterfeemodifyForm" method="POST" class="form-horizontal"action="/finance/gasfee/modify/post">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-2 control-label">天然气费记录编号:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{ query.gasfeeid }}"name="detail_waterfeeid" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">房产编号:</label>
                        <div class="col-md-6">
                            <input class="form-control"value="{{ query.house_houseid }}" name="detail_houseid"id="detail_houseid" readonly>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">上月抄表时间:</label>
                        <div class="input-group date form_date col-md-6" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="12" type="text" name="detail_startdate"value="{{ query.startdate }}" readonly >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" />

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">本月抄表时间:</label>
                        <div class="input-group date form_date col-md-6" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="12" type="text" name="detail_enddate"value="{{ query.enddate }}" readonly >
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">上月度数:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control"required data-bv-trigger="blur" data-bv-notempty-message="不能为空" value="{{ query.startdegree }}"id="addhousespace"name="detail_startdegree" required data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">本月度数:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" required data-bv-trigger="blur" data-bv-notempty-message="不能为空" value="{{ query.enddegree }}"id="detailenddegree"name="detail_enddegree" required data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />
                    </div>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">物业收费项目:</label>
                        <div class="col-md-6">
                            <input class="form-control"id="detail_item"name="detail_item"value="{{ query.item }}"readonly>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">每单位价格:</label>
                        <div class="col-md-6">
                            <input class="form-control"id="detail_priceperdegree"name="detail_priceperdegree"value="{{ query.priceperdegree }}"readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">总共费用:</label>
                        <div class="col-md-6">
                            <input class="form-control"id="detail_totalprice"name="detail_totalprice"value="{{ query.totalprice }}"readonly>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">是否缴纳:</label>
                        <div class="col-md-6">
                            <select class="form-control" id="detail_pay"name="detail_pay">
                                <option value="{{ query.pay }}">{{ query.pay }}</option>
                                {% if query.pay=="是" %}
                                <option value="否">否</option>
                                {% else %}
                                <option value="是">是</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                    <div class="col-md-5">
                        <input type="submit" class="btn btn-danger pull-right" id="waterfee_validateBtn">
                    </div>

            </div>
        </form>
        </div>
    </div>
{% endblock %}


</div>
{% endblock %}

{% block script %}
    {{ super() }}

{% endblock %}