{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}水费{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}

{% block page_content %}

<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class="pm-staffmessage active"><a href="{{ url_for('finance.waterfee') }}">水费</a></li>
       <li class="pm-staffmessage active"><a href="{{ url_for('finance.electricfee') }}">电费</a></li>
       <li class="pm-staffmessage active"><a href="{{ url_for('finance.gasfee') }}">天然气费</a></li>
       <li class="pm-staffmessage active"><a href="{{ url_for('finance.cleaningfee') }}">卫生费</a></li>
       <li class="pm-staffbonus"><a href="{{ url_for('community.patrol') }}">其他收费</a></li>

   </ul>
  </div>
  <div id="border">
   <div id="line" class="one"></div>
  </div>
{% endblock %}
{% block page_content_right %}
    <div id="right-side">

<br>
    <div id="right-side-tabs">
    <ul class="nav nav-tabs">
      <li{% if  charge %} class="active"{% endif %}><a href="{{ url_for('finance.watercharge') }}">生成明细</a></li>
      <li{% if not charge %} class="active"{% endif %}><a href="{{ url_for('finance.waternotcharge') }}">查看历史</a></li>
    </ul>
    <br>
    {% if charge %}
    <div class="row">
                <div class="form-group col-md-2">
                    <a href="{{ url_for("finance.waterfee_create") }}"><input class="btn btn-info form-control " size="12"  type="submit" id="waterfee_create" value="生成明细账单" ></a>
                </div>
    </div>
    {% endif %}
    {% if not charge %}
        <div class="row">
        <div class="form-group col-md-2">
            <a href="{{ url_for("finance.orderdesc") }}"><input class="btn btn-info form-control " size="12"  type="submit" id="waterfee_orderdesc" value="按时间倒序" ></a>
        </div>
        <div class="form-group col-md-2">
            <a href="{{ url_for("finance.orderasc") }}"><input class="btn btn-info form-control " size="12"  type="submit" id="waterfee_orderasc" value="按时间顺序" ></a>
        </div>
        </div>
    {% endif %}
        <div class="table-responsive ss-scrolltbody">
                  <table class="table table-hover table-condensed table-bordered ">
                      <thead >
                      <tr class="info">
                    <th>水费记录编号</th>
                    <th>门牌编号</th>
                    <th>物业项目</th>
                    <th>上月度数</th>
                    <th>本月度数</th>
                    <th>上月抄表时间</th>
                    <th>本月抄表时间</th>
                    <th>每单位价格</th>
                    <th>总共费用</th>
                    <th>是否缴纳</th>
                    <th>{% if not charge %}<input class='btn 'onclick="finance_add({{query_house}})" type='button'name="添加"value="添加"/>{% endif %}</th>
                </thead>
                <tbody >

                {% for query in querys %}
                    <tr>
                        <td>{{ query.waterfeeid}}</td>
                        <td>{{ query.house_houseid}}</td>
                        <td>{{ query.item }}</td>
                        <td>{{ query.startdegree }}</td>
                        <td>{{ query.enddegree }}</td>
                        <td>{{ query.startdate }}</td>
                        <td>{{ query.enddate }}</td>
                        <td>{{ query.priceperdegree }}</td>
                        <td>{{ query.totalprice }}</td>
                        <td>{{ query.pay }}</td>
                        <td><a href="{{ url_for("finance.waterfee_modify",houseid=query.house_houseid) }}" class="btn">编辑</a>
                        <a href="{{ url_for("finance.waterfee_delete",houseid=query.house_houseid) }}"class="ss-table-delete-waterfee"id="{{ query.house_houseid }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
  </div>

  </div>
{% endblock %}
</div>

{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}