{% extends "community/infrastructure.html" %}
{% block title %}绿化基建{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
            <section>
                <div class="col-lg-10 ">
                    <div class="page-header">
                        <h4>添加事件</h4>
                    </div>

                    <form id="ownerForm" method="post" class='form-horizontal'action="/community/infrastructure/add/post">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">事件编号</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="add_infrastructureid" required data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-lg-2 control-label">事件类型</label>
                            <div class="col-lg-4">
                                <select class="form-control" name="add_infrastructuretype" >
                                    {% for query in query_choice %}
                                    <option value="{{ query.choicename }}">{{ query.choicename }}</option>
                                   {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">发生时间</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="add_infrastructuretime" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">区域</label>
                            <div class="col-lg-4">
                                <input class="form-control" name="add_infrastructurearea"required data-bv-trigger="blur" data-bv-notempty-message="不能为空"  >

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">负责人</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="add_resperson" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">负责人电话</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="add_resphone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">监督人</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="add_supervisitor" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">验收</label>
                            <div class="col-lg-4">
                                <select class="form-control" name="add_check">
                                    <option value="合格">合格</option>
                                    <option value="不合格">不合格</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">描述</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="add_detail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-8">
                                <input type="reset" class="btn btn-info" id="resetBtn">
                                <input type="submit" class="btn btn-info" id="validateBtn">
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        {% endblock %}
    </div>
{% endblock %}