{% extends "community/repairation.html" %}
{% block title %}投诉建议{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}

{% block page_content %}

<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class=""><a href="{{ url_for('community.repairation') }}">故障报修</a></li>
       <li class=""><a href="{{ url_for('community.patrol') }}">保安巡逻</a></li>
       <li class=""><a href="{{ url_for('community.infrastructure') }}">绿化基建</a></li>
       <li class="menu-active"><a href="{{ url_for('community.complaint') }}"class="menu-font-active">投诉建议</a></li>

   </ul>
  </div>
  <div id="border">
  </div>
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
            <form method="GET" class="form-horizontal"action='/community/infrastructure'>
          <div class="row">

              <div class="col-md-5">
                  <div class="form-group">
                      <label class="col-md-3 control-label">类型:</label>
                      <div class="col-md-6">
                          <select class="form-control"id="complainttype"name="complainttype">
                              <option value=""></option>
                              {% for query in query_all %}
                              <option value="{{ query.complainttype }}">{{ query.complainttype }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
              </div>
           <div class="col-md-2">
                  <div class="form-group">
                      <button id="patrol_searchmessage" type="submit"class="btn btn-info col-md-5">查询</button>
                  </div>
              </div>
          </div>
        </form>
           <div class="table-responsive ss-scrolltbody">

            <table class="table table-hover table-condensed table-bordered ">
                <thead>
                <tr class="info">
                    <th class="td-center"><a href="{{ url_for('community.complaint_add') }}"><i class="icon-plus"></i> 添加</a></th>
                    <th>建议/投诉编号</th>
                    <th>业主门牌号</th>
                    <th>类型</th>
                    <th>受理状态</th>
                    <th>建议/投诉时间</th>
                    <th>受理时间</th>
                    <th>受理员工</th>
                    <th>建议/投诉内容</th>

                </tr>
                </thead>
                <tbody>
                {% for query in query_complaint %}
                <tr>
                    <th class="td-center"><a href="{{ url_for('community.complaint_detail',complaintid=query.complaintid) }}"><i class="icon-edit"></i> 编辑</a><br><a href="{{ url_for('community.complaint_delete',complaintid=query.complaintid) }}"class="ss-table-delete-complaint" id="{{ query.complaintid }}"><i class="icon-minus"></i> 删除</a></th>
                    <th>{{ query.complaintid }}</th>
                    <th>{{ query.house_houseid }}</th>
                    <th>{{ query.complaintcontenttype }}</th>
                    <th>{{ query.complaintstatus }}</th>
                    <th>{{ query.complainttime }}</th>
                    <th>{{ query.replytime }}</th>
                    <th>{{ query.replystaff }}</th>
                    <th>{{ query.complaintdetail }}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

    var urlstr=location.href;
    var urlstatus=false;
    $(".navbar a").each(function(){
        if((urlstr + '/').indexOf($(this).attr('href')) > -1&&$(this).attr('href')!=''){
            $(this).addClass('nav-active');urlstatus=true;
        }
        else {
            $(this).removeClass('nav-active')
        }
    });
    if(!urlstatus){$('.navbar a').eq(1).addClass('nav-active')}
    </script>
{% endblock %}