{% extends "community/repairation.html" %}
{% block title %}投诉建议{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
            <table class="table table-hover">
                <caption>投诉建议</caption>
                <thead>
                <tr>
                    <th>建议/投诉编号</th>
                    <th>业主门牌号</th>
                    <th>类型</th>
                    <th>受理状态</th>
                    <th>建议/投诉时间</th>
                    <th>受理时间</th>
                    <th>受理员工</th>
                    <th>建议/投诉内容</th>
                    <th><a href="{{ url_for('community.complaint_add') }}">添加</a> </th>
                </tr>
                </thead>
                <tbody>
                {% for query in query_patrol %}
                <tr>
                    <th>{{ query.complaintid }}</th>
                    <th>{{ query.house_houseid }}</th>
                    <th>{{ query.complaintcontenttype }}</th>
                    <th>{{ query.complaintstatus }}</th>
                    <th>{{ query.complainttime }}</th>
                    <th>{{ query.replytime }}</th>
                    <th>{{ query.replystaff }}</th>
                    <th>{{ query.complaintdetail }}</th>
                    <th><a href="{{ url_for('community.complaint_delete',complaintid=query.complaintid) }}"class="ss-table-delete-patrol" id="{{ query.complaintid }}">删除</a><a href="{{ url_for('community.complaint_detail',complaintid=query.complaintid) }}">详情</a></th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    </div>
{% endblock %}