{% extends "community/repairation.html" %}
{% block title %}保安巡逻{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
        <div class="row">
        <div class="col-md-10">
                    <div class="page-header">
                        <h4>巡逻档案</h4>
                    </div>
                </div>
        </div>
        <div class="table-responsive">

            <table class="table table-hover table-condensed table-bordered ss-scrolltbody">

                <thead >
                <tr class="info">
                    <th >事件编号</th>
                    <th >事件类型</th>
                    <th >发生时间</th>
                    <th >处理人</th>
                    <th >当事人</th>
                    <th >当事人电话</th>
                    <th >处理结果</th>
                    <th >事件概要</th>
                    <th ><a href="{{ url_for('community.patrol_add') }}">添加</a> </th>
                </tr>
                </thead>
                <tbody >
                {% for query in query_patrol %}
                <tr>
                    <th>{{ query.patrolid }}</th>
                    <th>{{ query.eventtype }}</th>
                    <th>{{ query.eventtime }}</th>
                    <th>{{ query.solveperson }}</th>
                    <th>{{ query.personinvolved }}</th>
                    <th>{{ query.phoneinvolved }}</th>
                    <th>{{ query.eventresult }}</th>
                    <th>{{ query.eventdetail }}</th>
                    <th><a href="{{ url_for('community.patrol_delete',patrolid=query.patrolid) }}"class="ss-table-delete-patrol" id="{{ query.patrolid }}">删除</a><a href="{{ url_for('community.patrol_detail',patrolid=query.patrolid) }}">详情</a></th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}