{% extends 'house/house_message.html' %}
{% block title %}添加房产{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
        <div class="ss-form-header">
            <label id="ss-form-label">添加房产</label>
            <div id="ss-form-line"></div>
        </div>
        <form method="POST" action="/house/house_message/add/post">
        <div class="ss-form-body">
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                <div class="ss-name-label">房产编号:</div>
                <input class="ss-form-control"id="addhouseid"name="add_houseid"placeholder="10位数字">
                <span class="ss-house-span ss-house-span1"></span>
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">业主姓名:</div>
                  <select class="ss-form-control"id="ownername"name="add_ownername">
                      <option value=""></option>
                      {% for query in owner_querys %}
                      <option value="{{ query.ownername }}">{{ query.ownername }}</option>
                      {% endfor %}
                  </select>
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">房屋面积:</div>
                  <input class="ss-form-control"id="addhousespace"name="add_housespace">m2
                  <span class="ss-house-span ss-house-span2"></span>

            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">户型:</div>

                  <input class="ss-form-control-small ss-form-control"id="addhousetype1"name="add_housetype1">室
                  <input class="ss-form-control-small ss-form-control"id="addhousetype2"name="add_housetype2">厅
                  <input class="ss-form-control-small ss-form-control"id="addhousetype3"name="add_housetype3">卫
                  <input class="ss-form-control-small ss-form-control"id="addhousetype4"name="add_housetype4">厨房
                  <span class="ss-house-span ss-house-span3"></span>
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                <div class="ss-name-label">房屋状态:</div>
                <select class="ss-form-control"id="addhousestatus"name="add_housestatus">
                      <option value="已售">已售</option>
                      <option value="已租">已租</option>
                      <option value="闲置" selected>闲置</option>
                  </select>
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">小区名称:</div>
                  <input class="ss-form-control"id="addhousecommunity"name="add_housecommunity">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">具体地址:</div>
                  <input class="ss-form-control"id="addhouseaddress"name="add_houseaddress">

            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">产权年限:</div>
                  <input class="ss-form-control"id="addhouseyears"name="add_houseyears">

            </div>
            </div>

            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">备注：</div>
                  <input class="ss-form-control"id="addhouseremark"name="add_houseremark">
            </div>
            </div>
            <div class="ss-form-body-row ss-form-body-row-btn">
            <div class="ss-form-group ss-form-gruop-btn">
                  <input class="ss-form-control"id="reset"name="重置"type="reset">
                  <input class="ss-form-control"id="housename"name="提交"type="submit">
            </div>
            </div>
        </div>
        </form>
        </div>
        {% endblock %}
    </div>
{% endblock %}
