{% extends 'house/house_message.html' %}
{% block title %}添加房产{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
        <div class="ss-form-header">
            <label id="ss-form-label">添加房产</label>
            <div id="ss-form-line"></div>
        </div>
        <form method="POST" action="/house/house_message/add/post">
        <div class="ss-form-body">
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">房产编号:</div>
                  <input class="ss-form-control"id="addhouseid"name="add_houseid">
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">业主姓名:</div>
                  <input class="ss-form-control"id="addownername"name="add_ownername">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">房屋面积:</div>
                  <input class="ss-form-control"id="addhousespace"name="add_housespace">
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">房屋户型:</div>
                  <input class="ss-form-control"id="addhousetype"name="add_housetype">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                <div class="ss-name-label">房屋状态:</div>
                <select class="ss-form-control"id="addhousestatus"name="add_housestatus">
                      <option value="已售">已售</option>
                      <option value="已租">已租</option>
                      <option value="闲置" selected>闲置</option>
                  </select>
            </div>
                <div class="ss-form-group">
                  <div class="ss-name-label">小区名称:</div>
                  <input class="ss-form-control"id="addhousecommunity"name="add_housecommunity">
            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">具体地址:</div>
                  <input class="ss-form-control"id="addhouseaddress"name="add_houseaddress">

            </div>
            </div>
            <div class="ss-form-body-row">
            <div class="ss-form-group">
                  <div class="ss-name-label">备注：</div>
                  <input class="ss-form-control"id="addhouseremark"name="add_houseremark">
            </div>
            </div>
            <div class="ss-form-body-row ss-form-body-row-btn">
            <div class="ss-form-group ss-form-gruop-btn">
                  <input class="ss-form-control"id="reset"name="重置"type="reset">
                  <input class="ss-form-control"id="housename"name="提交"type="submit">
            </div>
            </div>
        </div>
        </form>
        </div>
        {% endblock %}
    </div>
{% endblock %}