{% extends 'house/house_message.html' %}
{% block title %}添加业主{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
            <section>
                <div class="col-md-10 ">
                    <div class="page-header">
                        <h4>添加业主</h4>
                    </div>
                    <form id="ownerform" method="post" action="house_owner.html">
                        <div class="form-group">
                            <label class="col-sm-2">业主姓名</label>
                            <div class="col-lg-4">
                                <input type="text"class="form-control"name="owner_ownername"required data-bv-trigger="keyup" placeholder="业主姓名" data-bv-notempty-message="姓名不能为空"  >
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2">房屋编号</label>
                            <div class="col-lg-4">
                                <select class="form-control"name="owner_houseid"required data-bv-trigger="keyup" placeholder="区楼单元室" data-bv-notempty-message="编号不能为空" >
                                    <option value=""></option>
                                    {% for q in house_query %}
                                        <option value="{{ q.houseid }}">{{ q.houseid }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 ">联系电话</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="username"required data-bv-trigger="keyup" placeholder="业主姓名" data-bv-notempty-message="编号不能为空" />
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 ">身份证号</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="username"required data-bv-trigger="keyup" placeholder="业主姓名" data-bv-notempty-message="编号不能为空" />
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 ">产权年限</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="username"required data-bv-trigger="keyup" placeholder="业主姓名" data-bv-notempty-message="编号不能为空" />
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 ">房屋状态</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="username"required data-bv-trigger="keyup" placeholder="业主姓名" data-bv-notempty-message="编号不能为空" />
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 ">进户日期</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="username"required data-bv-trigger="keyup" placeholder="业主姓名" data-bv-notempty-message="编号不能为空" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info" id="validateBtn">Manual validate</button>
                        </div>
                    </form>
                </div>
            </section>


        </div>
        {% endblock %}
    </div>
{% endblock %}