{% extends 'house/house_message.html' %}
{% block title %}添加业主{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
            <section>
                <div class="col-lg-10 ">
                    <div class="page-header">
                        <h2>注册</h2>
                    </div>

                    <form id="ownerForm" method="post" class='form-horizontal'action="/house/house_owner/add/post">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">业主姓名</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="owner_ownername" required data-bv-trigger="keyup" data-bv-notempty-message="姓名不能为空" placeholder="姓" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">房屋编号</label>
                            <div class="col-lg-4">
                                <select class="form-control" name="owner_houseid"required data-bv-trigger="blur" data-bv-notempty-message="编号不能为空"  >
                                    <option value=""></option>
                                    {% for q in house_query %}
                                    <option value="{{ q.houseid }}">{{ q.houseid }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">手机号</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="owner_ownerphone" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">身份证号</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="owner_owneridcard" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">房屋状态</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="owner_ownerstatus" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">产权年限</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="owner_owneryears" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">进户日期</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" name="owner_ownerdate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-8">
                                <button type="button" class="btn btn-info" id="resetBtn">重置</button>
                                <input type="submit" class="btn btn-info" id="validateBtn">
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <!-- :form -->
        </div>
        {% endblock %}
    </div>
{% endblock %}