{% extends 'house/house_message.html' %}
{% block title %}房产信息{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
        <div class="ss-form-header">
            <label id="ss-form-label">房产信息</label>
            <div id="ss-form-line"></div>
        </div>
        <form method="POST" id="housedetailForm"class="form-horizontal"action="/house/house_message/detail/post/">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">房产编号:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="detailhouseid"name="detail_houseid"value="{{ query.houseid }}"readonly required data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">业主姓名:</label>
                        <div class="col-md-6">
                            <input class="form-control" id="detailownername"value="{{ query.owner_ownername }}"name="detail_ownername" readonly >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">房屋面积:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="detailhousespace"name="detail_housespace"value="{{ query.housespace }}"data-bv-trigger="blur" data-bv-notempty-message="不能为空"{% if not current_user.is_administrator() %} readonly {% endif %}  />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">房屋户型:</label>
                        {% if current_user.is_administrator() %}
                        <div class="col-md-6">

                            <input class="form-control"id="addhousetype"placeholder="室/厅/卫/厨" name="detail_housetype"value="{{ query.housetype }}"data-bv-trigger="blur" data-bv-notempty-message="不能为空">

                        {% else %}
                            <div class="col-md-6">
                            <input class="form-control"value="{{ query.housetype }}"readonly>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">房屋状态:</label>
                        <div class="col-md-6">
                            {% if current_user.is_administrator() %}
                            <select class="form-control" id="detailhousestatus"name="detail_housestatus" >
                                <option class="bg-info"value="{{ query.housestatus }}">{{ query.housestatus }}</option>
                                <option value="购买">购买</option>
                                <option value="租赁">租赁</option>
                                <option value="闲置">闲置</option>
                            </select>
                            {% else %}
                            <input class="form-control"id="detailhousestatus"name="detail_housestatus"value="{{ query.housestatus }}"readonly>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">产权年限:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="detailhousedetailyears"name="detail_houseyears"value="{{ query.houseyears }}"data-bv-trigger="blur" data-bv-notempty-message="不能为空"{% if not current_user.is_administrator() %} readonly {% endif %}  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-2 control-label">小区名称:</label>
                        <div class="col-md-10">
                            <input class="form-control"id="detailhousecommunity"name="detail_housecommunity"data-bv-trigger="blur"{% if not current_user.is_administrator() %} readonly {% endif %}value="{{ query.housecommunity }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-2 control-label">具体地址:</label>
                        <div class="col-md-10">
                            <textarea class="form-control"id="detailhousedetailadress"name="detail_houseaddress"rows="2" data-bv-trigger="blur"{% if not current_user.is_administrator() %} readonly {% endif %}>{{ query.houseaddress }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="col-md-2 control-label">备注:</label>
                        <div class="col-md-10">
                            <textarea class="form-control"id="detailhouseremark"name="detail_houseremark"data-bv-trigger="blur"{% if not current_user.is_administrator() %} readonly {% endif %}>{{ query.houseremark }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            {% if current_user.is_administrator() %}
            <div class="form-group">
                    <div class="col-md-5">
                        <input type="submit" class="btn btn-danger pull-right" id="house_detail_validateBtn">
                    </div>

            </div>
            {% endif %}

        </form>
        </div>
        {% endblock %}
    </div>
{% endblock %}