{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}房产管理{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}

{% block page_content %}

<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class="pm-staffmessage active"><a href="{{ url_for('house.house_message') }}">房产信息</a></li>
       <li class="pm-staffbonus"><a href="{{ url_for('house.house_owner') }}">业主管理</a></li>

   </ul>
  </div>
  <div id="border">
   <div id="line" class="one"></div>
  </div>
{% endblock %}
{% block page_content_right %}
  <div id="right-side">
          <div class = "pm-form">

          <form method="GET" action='/house/house_message/'>
              <div class="pm-search-form">
              <div class="ss-form-group">
                  <div class="ss-name-label">门牌编号</div>
                  <input class="ss-form-control"id="houseid"name="houseid">
              </div>
              <div class="ss-form-group">
                  <div class="ss-name-label">房屋状态</div>
                  <select class="ss-form-control"id="housestatus"name="housestatus">
                      <option value=""></option>
                      <option value="已售">已售</option>
                      <option value="已租">已租</option>
                      <option value="闲置">闲置</option>
                  </select>
              </div>

              <div class="ss-form-group">
                  <button id="house_searchmessage" type="submit"class="btn">查询</button>
              </div>
              </div>
          </form>

            <table class="ss-table">
                <thead class="ss-fixedthead">
                    <th class="ss-td">序号</th>
                    <th class="ss-td">门牌编号</th>
                    <th class="ss-td">业主姓名</th>
                    <th class="ss-td">户型</th>
                    <th class="ss-td">房屋面积</th>
                    <th class="ss-td">房屋状态</th>
                    <th class="ss-td">小区名称</th>
                    <th class="ss-td">具体地址</th>
                    <th class="ss-td">备注</th>
                    <th class="ss-td"><a href="{{ url_for('house.house_add') }}"class="ss-table-add"id="ss-table-add">添加</a></th>
                </thead>
                <tbody class="ss-scrolltbody">
                {% for query in querys %}
                    <tr class="ss-tr">
                        <td class="ss-td">{{ 1 }}</td>
                        <td class="ss-td">{{ query.houseid }}</td>
                        <td class="ss-td">{{ query.owner_ownername}}</td>
                        <td class="ss-td">{{ query.housetype }}</td>
                        <td class="ss-td">{{ query.housespace }}</td>
                        <td class="ss-td">{{ query.housestatus }}</td>
                        <td class="ss-td">{{ query.housecommunity }}</td>
                        <td class="ss-td">{{ query.houseaddress }}</td>
                        <td class="ss-td">{{ query.houseremark }}<td>
                        <td class="ss-td"><a href="{{ url_for('house.house_delete',house_id=query.houseid) }}"class="ss-table-delete-house"id="{{ query.houseid }}">删除</a>
                            <a href="{{ url_for('house.house_detail',house_id=query.houseid) }}"class="ss-table-detail"id="{{ query.houseid }}">详情</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
      </div>

  </div>
    {% endblock %}
</div>

{% endblock %}
{% block script %}
    {{ super() }}
{% endblock %}