{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}业主管理{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}

{% block page_content %}

<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class="pm-staffmessage active"><a href="{{ url_for('house.house_message') }}">房产信息</a></li>
       <li class="pm-staffbonus"><a href="{{ url_for('house.house_owner') }}">业主管理</a></li>
   </ul>
  </div>
  <div id="border">
   <div id="line" class="one"></div>
  </div>
{% endblock %}
{% block page_content_right %}
  <div id="right-side">
          <div class = "pm-form">

          <form method="GET" class="form-horizontal"action='/house/house_owner/'>
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label class="col-md-3 control-label">业主姓名:</label>
                          <div class="col-md-6">
                              <select class="form-control"id="ownername"name="ownername">
                                  <option value=""></option>
                                  {% for query in owner_querys %}
                                      <option value="{{ query.ownername }}">{{ query.ownername }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label class="col-md-3 control-label">门牌编号:</label>
                          <div class="col-md-6">
                              <select class="form-control"id="houseid"name="houseid">
                                  <option value=""></option>
                                  {% for query in owner_querys %}
                                      <option value="{{ query.house_houseid }}">{{ query.house_houseid }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <button id="owner_searchmessage" type="submit"class="btn btn-info col-md-5">查询</button>
                      </div>
                  </div>
              </div>
          </form>
              <div class="table-responsive ss-scrolltbody">
                  <table class="table table-hover table-condensed table-bordered ">
                      <thead>
                    <th class="info">房屋编号</th>
                    <th class="info">业主姓名</th>
                    <th class="info">联系方式</th>
                    <th class="info">身份证</th>
                    <th class="info">产权年限</th>
                    <th class="info">拥有状态</th>
                    <th class="info">进户日期</th>
                    <th class="info"><a href="{{ url_for('house.owner_add') }}"class="ss-table-add"id="ss-table-add">添加</a></th>
                </thead>
                <tbody>
                {% for query in querys %}
                    <tr>
                        <td >{{ query.house_houseid }}</td>
                        <td >{{ query.ownername}}</td>
                        <td >{{ query.ownerphone }}</td>
                        <td>{{ query.owneridcard }}</td>
                        <td>{{ query.owneryears}}</td>
                        <td>{{ query.ownerstatus }}</td>
                        <td>{{ query.ownerdate }}</td>
                        <td><a href="{{ url_for('house.owner_delete',house_id=query.house_houseid) }}"class="ss-table-delete-owner"id="{{ query.house_houseid }}">删除</a>
                            <a href="{{ url_for('house.owner_detail',house_id=query.house_houseid) }}"class="ss-table-detail"id="{{ query.house_houseid }}">详情</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
              </div>
      </div>
  </div>
    {% endblock %}
</div>

{% endblock %}
{% block script %}
    {{ super() }}
{% endblock %}