{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}房产管理{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}

{% block page_content %}

<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class="menu-active"><a href="{{ url_for('house.house_message') }}" class="menu-font-active" >房产信息</a></li>
       <li class="owner"><a href="{{ url_for('house.house_owner') }}">业主管理</a></li>

   </ul>
  </div>
  <div id="border">

  </div>
{% endblock %}
{% block page_content_right %}
  <div id="right-side">
          <div class = "pm-form">

          <form method="GET" class="form-horizontal"action='/house/house_message/'>
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label class="col-md-3 control-label">门牌编号:</label>
                          <div class="col-md-6">
                              <select class="form-control"id="houseid"name="houseid">
                                  <option value=""></option>
                                  {% for query in queryall %}
                                      <option value="{{ query.houseid }}">{{ query.houseid }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label class="col-md-3 control-label">业主姓名:</label>
                          <div class="col-md-6">
                              <select class="form-control"id="ownername"name="ownername">
                                  <option value=""></option>
                                  {% for query in queryall %}
                                      <option value="{{ query.owner_ownername }}">{{ query.owner_ownername }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                  <div class="form-group">
                  <button id="house_searchmessage" type="submit"class="btn btn-info col-md-5">查询</button>
              </div>
                  </div>
              </div>
          </form>
          <br>
              <div class="table-responsive ss-scrolltbody">
                  <table class="table table-hover table-condensed table-bordered ">
                      <thead>
                    <th class="info">门牌编号</th>
                    <th class="info">业主姓名</th>
                    <th class="info">户型</th>
                    <th class="info">房屋面积</th>
                    <th class="info">房屋状态</th>
                    <th class="info">产权年限</th>
                    <th class="info">小区名称</th>
                    <th class="info">具体地址</th>
                    <th class="info">备注</th>
                    <th class="info"><a href="{{ url_for('house.house_add') }}"class="ss-table-add"id="ss-table-add">添加</a></th>
                </thead>
                <tbody>
                {% for query in querys %}
                    <tr>
                        <td>{{ query.houseid }}</td>
                        <td>{{ query.owner_ownername}}</td>
                        <td>{{ query.housetype }}</td>
                        <td>{{ query.housespace }}</td>
                        <td>{{ query.housestatus }}</td>
                        <td>{{ query.houseyears }}</td>
                        <td>{{ query.housecommunity }}</td>
                        <td>{{ query.houseaddress }}</td>
                        <td>{{ query.houseremark }}</td>
                        <td><a href="{{ url_for('house.house_delete',house_id=query.houseid) }}"class="ss-table-delete-house"id="{{ query.houseid }}">删除</a>
                            <a href="{{ url_for('house.house_detail',houseid=query.houseid) }}"class="ss-table-detail"id="{{ query.houseid }}">详情</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
              </div>
      </div>

  </div>
{% endblock %}
</div>

{% endblock %}

