{% extends 'house/house_owner.html' %}
{% block title %}房产信息{% endblock %}

{% block page_content %}
    <div id="wrapper">
    {% block page_content_left %}
        {{ super() }}
        {% endblock %}
    {% block page_content_right %}
        <div id="right-side">
        <div class="ss-form-header">
            <label id="ss-form-label">房产信息</label>
            <div id="ss-form-line"></div>
        </div>
        <form method="POST" id="ownerdetailForm"class="form-horizontal"action="/house/house_owner/detail/post/">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">业主姓名:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="detailownername"name="detail_ownername"value="{{ query.ownername }}"readonly required data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />


                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">房产编号:</label>
                        <div class="col-md-6">
                            <select class="form-control" id="detailhouseid"name="detail_houseid" >
                                <option class="bg-info"value="{{ query.house_houseid }}">{{ query.house_houseid }}</option>
                                {% for query_h in query_house %}
                                    <option value="{{ query_h.houseid }}">{{ query_h.houseid }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">手机号:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="detailownerphone"name="detail_ownerphone"value="{{ query.ownerphone }}"data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">身份证号:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="detailowneridcard"name="detail_owneridcard"value="{{ query.owneridcard }}"data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">拥有状态:</label>
                        <div class="col-md-6">
                            <select class="form-control" id="detailownerstatus"name="detail_ownerstatus" >
                                <option class="bg-info"value="{{ query.ownerstatus }}">{{ query.ownerstatus }}</option>
                                <option value="购买">购买</option>
                                <option value="租赁">租赁</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="col-md-4 control-label">产权年限:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="detailowneryears"name="detail_owneryears"value="{{ query.owneryears }}"data-bv-trigger="keyup" data-bv-notempty-message="不能为空"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 form-group">
                        <label class="col-md-2 control-label">进户日期</label>
                        <div class="input-group date form_date col-md-4" data-date="" data-date-format="yyyy-mm-dd  " data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="12" type="text" name="detail_ownerdate"value="{{ query.ownerdate }}" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" />
                    </div>
            </div>

            <div class="form-group">
                    <div class="col-md-5">
                        <input type="submit" class="btn btn-danger pull-right" id="house_detail_validateBtn">
                    </div>

            </div>

        </form>
        </div>
        {% endblock %}
    </div>
{% endblock %}