footer{
    background:#38393b;
}

.profile-content{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    height:auto;
}


.index-margin{
    margin: 0 auto;
}


.aa {
    padding: 15px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: #ff4418;
    font-size:12px;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



ul {
	list-style-type: none;
}



/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }

 .accordion {
 	width: 100%;
 	max-width: 250px;
     font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
 	margin: 30px auto 20px;
     margin-left:10px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
     border:solid 1px #2d2c41;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }


 .content-left{
     margin-top:20px;
     margin-left:20px;
     border-right:1px solid #4b4a5e;
     width: 100%;
     max-width: 280px;
     position: absolute;
 }
 .content-right{
     background: #ff4990;
     width:100%;
     position: absolute;
     margin-left:350px;
     margin-top:50px;
 }

 .posts{
	 font-family:'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
	 font-size:15px;
	 margin-top:10px;
 }
 .post{
	 border-bottom:1px solid;
 }
 .profile-thumbnail{
	 color: #c12c42;
	 padding-top:10px;
 }
 .post-date{
	 float: right;
	 font-size:12px;
 }
 .post-body{
	 padding:10px 0 10px 0 ;
 }

ul.posts li.post:hover {
  background-color: #f0f0f0;
 }
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
	margin: 0px;
 }


#wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: center;
   align-items: flex-start;
    overflow: hidden;
    justify-content: flex-start;
    flex-direction: row;
}

#left-side {
    height: 70%;
    width: 25%;
    font-family: '微软雅黑', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size:15px;
    padding-left:40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
}
#left-side ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 34px;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#left-side ul li:hover {
  color: #333333;
  -webkit-transition: all .2s ease-out;
		  transition: all .2s ease-out;
}
#left-side ul li:hover > .icon {
  fill: #333;
}
#left-side ul li.active {
  color: #333333;
}
#left-side ul li.active:hover > .icon {
  fill: #E74C3C;
}

#border {
  height: 500px;
  width: 1px;
    margin-left:-3px;
  background-color: #66afe9;
}
#border #line.one {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 35px;
  -webkit-transition: all .4s ease-in-out;
		  transition: all .4s ease-in-out;
}
#border #line.two {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 89px;
  -webkit-transition: all .4s ease-in-out;
		  transition: all .4s ease-in-out;
}
#border #line.three {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 143px;
  -webkit-transition: all .4s ease-in-out;
		  transition: all .4s ease-in-out;
}
#border #line.four {
  width: 5px;
  height: 54px;
  background-color: #E74C3C;
  margin-left: -2px;
  margin-top: 197px;
  -webkit-transition: all .4s ease-in-out;
		  transition: all .4s ease-in-out;
}

#right-side {
  height: auto;
  width: 100%;
  overflow: hidden;
    margin-left:25px;
}
#right-side #first h1, #right-side #second h1, #right-side #third h1, #right-side #fourth h1 {
  font-weight: 800;
  color: #333;
}
#right-side #first p, #right-side #second p, #right-side #third p, #right-side #fourth p {
  color: #333;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
}
#right-side #first.active, #right-side #second.active, #right-side #third.active, #right-side #fourth.active {
  margin-top: 0px;
  opacity: 1;

}


/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body{
	background: #fff;
	color: #404d5b;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
a:hover,a:focus{color:#74777b;}

@media (min-width: 786px){
    #left-side{
    width:230px;}
}
th,td{
    overflow: hidden;
}
tr{
    overflow: scroll;
}
tr td,th{
    width:84px;

}
th{
    height:30px;
}

.nav-active{
    color:#31b0d5 !important;
}
.nav a{
    font-size:16px;
}
#left-side a{
    color:#000;
    font-size:14px;
}
#left-side a:hover{
   font-size:15px;
   text-decoration: none;
}
.menu-active{
    border-right: #66afe9 5px solid;
}
.menu-font-active{
    color:#66afe9 !important;
}
.td-center{
    text-align: center;
}

.i-color{
    color:#337ab7;
}
.login-div-margin{
    height:200px;
}
.login-div-margin a{
    margin-top:20px;
}
.choice-border{
    border:1px solid #ddd;
    border-radius: 2px;
    margin-left:25px;
    padding-bottom:20px;
}