#normal-input{
    width:100px;
    height:30px;
    border:solid 1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.pm-form{

    margin-left:20px;
    margin-top:20px;
    height:auto;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    position:absolute;
}


.ss-table{
    border-collapse: collapse;
    border: 1px solid #4b4a5e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height:auto;
}
.ss-tr{
    height:20px;
}
.ss-td{
    height:20px;
    width:80px;
    border: 1px solid #4b4a5e;
}
.pm-search-form{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width:auto;
}

.ss-name-label{
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size:15px;
    width:80px;


}
.ss-form-control{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #2d2c41;
    height:30px;
    width:120px;

}
.ss-form-group{
    height:40px;
    width:200px;
    display:flex;
    margin:5px 0 0 5px;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;

}
