#normal-input{
    width:100px;
    height:30px;
    border:solid 1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.pm-form{

    margin-left:20px;
    margin-top:20px;
    height:auto;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    position:absolute;
}


.ss-table{
    border-collapse: collapse;
    border: 1px solid #4b4a5e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width:100%;
}
.ss-fixedthead{
    display: block;
    width:100%;
}
.ss-scrolltbody{
    display: block;
    height:270px;
    overflow: auto;
    width: 100%;
}
.ss-table td,.ss-table th{
    width:180px;
    border-bottom:1px solid #4b4a5e;
    border-right:1px solid #4b4a5e;
    height:20px;
}


.pm-search-form{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width:auto;
}

.ss-name-label{
    font-family: '微软雅黑','Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size:15px;
    color: #4b4a5e;
    width:80px;


}
.ss-form-control{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #2d2c41;
    height:30px;
    width:120px;

}
.ss-form-group{
    height:40px;
    width:200px;
    display:flex;
    margin:5px 0 0 15px;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;

}

.ss-form-header ,.ss-form-body,.ss-detail-div{
    margin-left:20px;
    margin-top:20px;
}
.ss-form-header #ss-form-line{
    width: 500px;
    height:1px;
    background-color: #4b4a5e;
}

.ss-form-header #ss-form-line #ss-form-label{
    margin-bottom:10px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size:15px;
}
.ss-form-body{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}
.ss-form-body-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.ss-form-body-row-btn{
    justify-content: flex-end;
}
.ss-detail-div{
    width:auto;
}
.ss-detail-title{
    padding-left:3px;
}
.ss-detail-ol{
    padding-left:20px;
    font-family:'微软雅黑','Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size:13px;
}