{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}系统设置{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/buttons.css') }}" media="screen"type="text/css"/>

{% endblock %}
{% block page_content %}
<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class="menu-active"><a href="#" class="menu-font-active" >员工配置</a></li>
       <li class="owner"><a href="#">系统选择项目配置</a></li>
       <li class="owner"><a href="#">收费单位价格配置</a></li>
       <li class="owner"><a href="#">业主账户配置</a></li>
   </ul>
  </div>
  <div id="border">

  </div>
{% endblock %}
{% block page_content_right %}
  <div id="right-side">
  </div>
{% endblock %}
</div>
{% endblock %}
