{% extends "bootstrap/base.html" %}
{% block title %}首页
{% endblock %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/main.css') }}" media="screen"type="text/css"/>
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
    <link rel="stylesheet"href="{{ url_for('static',filename='css/buttons.css') }}" media="screen"type="text/css"/>
{% endblock %}
{% block content %}
<div class="banner">
</div>

<button class="button button-large button-plain button-border button-box"><i class="fa fa-star"></i></button>


{% endblock %}