{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Login{% endblock %}
{% block head %}
{{ super() }}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>

{% endblock %}
{% block page_content %}
<div id="wrapper">
{% block page_content_left %}
  <div id="left-side">
   <ul>
       <li class="pm-staffmessage active"><a href="{{ url_for('.personnel_management') }}">职员信息</a></li>
     <li class="pm-staffbonus">员工福利</li>
     <li class="pm-holiday">假期安排</li>
     <li class="pm-reimbursement">费用报销</li>
   </ul>
  </div>
  <div id="border">
   <div id="line" class="one"></div>
  </div>

{% endblock %}
{% block page_content_right %}
{% endblock %}
</div>
{% endblock %}