{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}人事管理{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}

{% block page_content %}

<div id="wrapper">
  <div id="left-side">
   <ul>
       <li class="pm-staffmessage active"><a href="{{ url_for('.personnel_management') }}">职员信息</a></li>
     <li class="pm-staffbonus">员工福利</li>
     <li class="pm-holiday">假期安排</li>
     <li class="pm-reimbursement">费用报销</li>
   </ul>
  </div>
  <div id="border">
   <div id="line" class="one"></div>
  </div>
  <div id="right-side">
      <div id="first" class="active">
          <div class = "pm-form">

          <form method="GET" action='/personnel_management/'>
              <div class="pm-search-form">
              <div class="ss-form-group">
                  <div class="ss-name-label">员工编号</div>
                  <input class="ss-form-control"id="staffid"name="staffid">
              </div>
              <div class="ss-form-group">
                  <div class="ss-name-label">员工姓名</div>
                  <input class="ss-form-control"id="staffname"name="staffname">
              </div>
              <!--<div class="ss-form-group">
                  <div class="ss-name-label">手机号码</div>
                  <input class="ss-form-control"id="stafphone"name="staffphone">
              </div>
              <div class="ss-form-group">
                  <div class="ss-name-label">身份证号</div>
                  <input class="ss-form-control"id="staffidcard"name="staffidcard">
              </div>
              <div class="ss-form-group">
                  <div class="ss-name-label">年龄</div>
                  <input class="ss-form-control"id="staffage"name="staffage">
              </div>
              <div class="ss-form-group">
                  <div class="ss-name-label">职位</div>
                  <input class="ss-form-control"id="staffjob"name="staffjob">
              </div>-->
              <div class="ss-form-group">
                  <div class="ss-name-label">性别</div>
                  <input type='radio' name='gender'id="gender" value='nan'checked>男
                  <input type='radio' name='gender'id="gender" value='nv'>女
              </div>
              <div class="ss-form-group">
                  <button id="searchmessage" type="submit"class="btn">查询</button>
              </div>
              </div>
          </form>

            <table class="ss-table">
                <thead class="ss-fixedthead">
                    <th class="ss-td">序号</th>
                    <th class="ss-td">员工编号</th>
                    <th class="ss-td">员工姓名</th>
                    <th class="ss-td">手机号码</th>
                    <th class="ss-td">身份证号</th>
                    <th class="ss-td">性别</th>
                    <th class="ss-td">年龄</th>
                    <th class="ss-td">职位</th>
                    <th class="ss-td">薪资</th>
                    <th class="ss-td"><a href="{{ url_for('main.staff_delete') }}"class="ss-table-add"id="ss-table-add">添加</a></th>
                </thead>
                <tbody class="ss-scrolltbody">
                {% for query in querys %}
                    <tr class="ss-tr">
                        <td class="ss-td">{{ 1 }}</td>
                        <td class="ss-td">{{ query.staffid }}</td>
                        <td class="ss-td">{{ query.staffname }}</td>
                        <td class="ss-td">{{ query.phone }}</td>
                        <td class="ss-td">{{ query.idcard }}</td>
                        <td class="ss-td">{{ query.gender }}</td>
                        <td class="ss-td">{{ query.age }}</td>
                        <td class="ss-td">{{ query.job }}</td>
                        <td class="ss-td">{{ query.salary }}</td>
                        <td class="ss-td"><a href="{{ url_for('main.staff_delete',staff_id=query.staffid) }}"class="ss-table-delete"id="{{ query.staffid }}">删除</a>
                            <a href="{{ url_for('main.staff_delete',staff_id=query.staffid) }}"class="ss-table-detail"id="{{ query.staffid }}">详情</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
      </div>
      </div>
      <div id="second">
          <h1>Pay for it</h1>
      </div>
      <div id="third">


     <h1>We will wrap it</h1>

   </div>
   <div id="fourth">

     <h1>Ship it</h1>

   </div>
  </div>
</div>

{% endblock %}
{% block script %}
    {{ super() }}
{% endblock %}