{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block script %}
    {{ super() }}
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"href="{{ url_for('static',filename='css/mystyle.css') }}" media="screen"type="text/css"/>
{% endblock %}
{% block page_content %}

<div id="wrapper">
  <div id="left-side">
   <ul>
       <li class="pm-staffmessage active"><a href="{{ url_for('main.personnel_management',page="staffmessage") }}">职员信息</a></li>
     <li class="pm-staffbonus">员工福利</li>
     <li class="pm-holiday">假期安排</li>
     <li class="pm-reimbursement">费用报销</li>
   </ul>
  </div>
  <div id="border">
   <div id="line" class="one"></div>
  </div>
  <div id="right-side">
      <div id="first" class="active">
          <div class = "pm-search-form">{{ wtf.quick_form(form) }}
         <div class="table-title">
             <label class="ss-label">aa</label><label class="ss-label">bb</label>
         </div>
          {% for staff in querystaffs %}

          {% endfor %}
          </div>
      </div>
      <div id="second">
          <h1>Pay for it</h1>
      </div>
      <div id="third">


     <h1>We will wrap it</h1>

   </div>
   <div id="fourth">

     <h1>Ship it</h1>

   </div>
  </div>
</div>

{% endblock %}